<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiyuan.pmis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jiyuan.pmis.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.jiyuan.pmis.reports.ReportsManagerActivity"
            android:label="@string/app_name" >
        </activity>   
        <activity
            android:name="com.jiyuan.pmis.reports.MyReportsActivity"
            android:label="@string/app_name" >
        </activity> 
        <activity
            android:name="com.jiyuan.pmis.reports.ReviewReportsActivity"
            android:label="@string/app_name" >
        </activity> 
        <activity
            android:name="com.jiyuan.pmis.reports.AddReportsActivity"
            android:label="@string/app_name" >
        </activity> 
        <activity
            android:name="com.jiyuan.pmis.reports.MyReportDetailsActivity"
            android:label="@string/app_name" >
        </activity> 
        <activity
            android:name="com.jiyuan.pmis.reports.ReviewReportDetailsActivity"
            android:label="@string/app_name" >
        </activity> 
        <activity
            android:name="com.jiyuan.pmis.reports.SelectProjectsActivity"
            android:label="@string/app_name" >
        </activity> 
        <activity
            android:name="com.jiyuan.pmis.setting.SettingActivity"
            android:label="@string/app_name" >
        </activity> 
    	<meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBEwmfL0GaZmdVqdTxxxxxxxx-rVgvY" />    
    </application>

</manifest>
