<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android1219"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:enabled="true"
            android:name="com.example.android1219.Service.BackIntentService"
            android:exported="false"
            />
        <activity
            android:name="com.example.android1219.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android1219.Service.SecondActivity"
            android:label="@string/app_name">
         </activity>
         <activity
            android:name="com.example.android1219.Service.ThirdActivity"
            android:label="@string/app_name">
         </activity>
         <service android:name="com.example.android1219.Service.MyLocalService">
             <intent-filter><action android:name="com.example.android1219.Service.MyLocalService"></action>
  			 </intent-filter>
         </service>    
         <activity
            android:name="com.example.android1219.Thread.TestThreadActivity"
            android:label="@string/app_name">
         </activity>
         <activity
            android:name="com$example$android1219$Provider$TestProviderActivity"
            android:label="@string/app_name">
         </activity>
    </application>

</manifest>
